// Fonts
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Cairo:400,600&display=swap');

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900');
