// Global Style
body{
    background-color: #f4f7fb;
    font-family: $mainFont;
    font-size: 1rem;
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $mainFont;
    font-weight: 300;
    color: $textColor;
    line-height: 1.25;
    margin: 0;
}
.text-center{
    text-align: center !important;
}
.position-static{
    position: static !important;
}
.position-relative{
    position: relative !important;
}
// .wrapper--content{
//     position: relative;
//     display: block;
//     width: calc(100% - 240px);
//     height: calc(100vh - 80px);
//     margin-top: 80px;
//     margin-left: 240px;
//     overflow: auto;
//     -webkit-overflow-scrolling: touch;
// }
// .main--content{
//     padding: 40px;
//     .page--title{
//         position: relative;
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: flex;
//         min-height: 60px;
//         -webkit-box-pack: justify;
//         -ms-flex-pack: justify;
//         justify-content: space-between;
//         -webkit-box-align: center;
//         -ms-flex-align: center;
//         align-items: center;
//         margin-bottom: 15px;
//         .title--text{
//             font-size: 28px;
//             display: inline-block;
//             vertical-align: middle;
//             font-weight: 700;
//         }
//     }
// }

// .card--block{
//     position: relative;
//     width: 100%;
//     padding: 20px 20px 30px;
//     margin: 25px 0;
//     background-color: #fff;
//     border-radius: 4px;
//     -webkit-transition: -webkit-box-shadow .2s;
//     transition: -webkit-box-shadow .2s;
//     transition: box-shadow .2s;
//     transition: box-shadow .2s,
//     -webkit-box-shadow .2s;
//     &:hover{
//         z-index: 1;
//         -webkit-box-shadow: 0 40px 40px 0 rgba(12, 20, 39, .08);
//         box-shadow: 0 40px 40px 0 rgba(12, 20, 39, .08);
//     }
//     .card--hreader{
//         display: flex;
//         align-items: center;
//         .card--header--title{
//             position: relative;
//             display: inline-block;
//             vertical-align: middle;
//             margin: 14px 0;
//             margin-right: auto;
//             font-size: 18px;
//             display: inline-block;
//             vertical-align: middle;
//             font-weight: 600;
//         }
//         .card--header--action{
//             display: inline-block;
//             vertical-align: middle;
//         }
//     }
//     .card--content{
//         margin: 30px 0 0;
//         position: relative;
//     }
// }

.bounce-enter-active {
  animation: bounce-in .4s;
}
.bounce-leave-active {
  animation: bounce-in .4s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// .pagination{
//     margin-top: 30px;
// }
// .table td, .table th{
//     vertical-align: middle;
// }
// .avatar{
//     width: 48px;
//     height: 48px;
//     border-radius: 50%;
//     overflow: hidden;
//     padding: 0;
//     img{
//         width: 100%;
//         height: 100%;
//     }
// }

// .modal-content{
//     width: 100%;
//     max-width: 600px;
//     background-color: #fff;
//     text-align: center;
//     border-radius: 8px;
//     padding: 30px;
// }

// .modal--article--type{
//     h3{
//         margin-bottom: 40px;
//         font-size: 24px;
//         font-weight: bold;
//     }
// }

// Upload Photo
.block--item--photo{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    background-color: #f4f7fb;
    border-radius: 10px;
    overflow: hidden;
    &.block--one--img{
        height: auto;
        max-height: 400px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .delete--photo{
        position: absolute;
        z-index: 2;
        right: 5px;
        top: 5px;
        color: #fff;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 50%;
        @include prefixer(transition, all .25s ease-in-out, webkit moz o);
        &:hover{
            background-color: #000;
        }
    }
}

.widget--wrapper{
    text-align: center;
    padding: 30px;
    .card--content{
        margin-top: 0;
        padding: 0 !important;
    }
    .widget--icon{
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        margin: 0 auto 15px;
        font-size: 24px;
    }
    .widget--number{
        font-size: 34px;
        color: #2d2f39;
        line-height: 54px;
        letter-spacing: .86px;
        font-weight: 900;
    }
    .widget--title {
        color: $textColor;
        font-size: 16px;
        margin-bottom: 10px;
    }

}














// Global Style

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html,body {
    background-color: #f5f6fa;
    font-family: $mainFont;
   
}
body {
    color: $textColor;
}

.sidebar--mini{
    .main--content {
        padding: 80px 30px 100px 100px;
    }
    .alluser--action{
        left: 70px;
        width: calc(100% - 70px);
    }
    .main--header {
        width: calc(100% - 70px);
        left: 70px;
    }
}

.h-100{
    height: 100% !important;
}
.w-100{
    width: 100% !important;
}

.main--content{
    @include prefixer (transition, all .25s ease-in-out, webkit moz o);
    padding: 80px 30px 100px 280px;
    min-height: calc(100vh - 70px);
    @media #{$mwlg}{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

.modal--conten{
    h3{
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: bold;
    }
}

// Button Reset
.btn--reset{
    background-color: transparent;
    border: 0;
    outline: 0;
}
a{
    outline: 0;  
}
.text-left{
    text-align: left !important;
}

.button.is-large {
    font-size: 1.2rem;
}
button.is-rounded, .button.is-rounded {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis, .file-cta, .file-name, 
.select select, .input, .taginput .taginput-container.is-focusable, .textarea, .button{
    height: 2.5em;
}

// Avatar
.avatar--sm{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
    }
}

// Transition
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.4s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}
.page-enter-active, .page-leave-active {
    transition: opacity .2s, transform .2s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
    transform: translateX(-2em);
  }
  
.modal{
    z-index: 100;
}
.modal--lg{
    &> .modal-content{
        width: 1800px;
        max-width: 90% !important;
        height: 100%;
        .card{
            height: 100%;
        }
    }
}

// Title Style
.title--one{
    color: $textColor;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 4px solid $textColor;
}

// Custom Dialog
.dialog {
    .modal-card-title {
        font-size: 1.3rem;
        text-align: center
    }
    
    .modal-card{
        .modal-card-foot{
            justify-content: center;
            .button{
                border-radius: 20px;
                min-width: 6em;
            }
        }
    } 
}

.card{
    margin-top: 20px;
    .card-header{
        border-bottom: 1px solid #eee;
        align-items: center;
        padding: 5px 15px;
    }
}

.card--block{
    width: 100%;
    margin: 25px 0;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s,
    -webkit-box-shadow .2s;
    &:hover{
        z-index: 1;
    }
    .card--hreader{
        display: flex;
        align-items: center;
        padding: 20px 20px;
        border-bottom: 1px solid $borderColor;
        .card--header--title{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin-right: auto;
            font-size: 18px;
            display: inline-block;
            vertical-align: middle;
            font-weight: 600;
        }
        .card--header--action{
            display: inline-block;
            vertical-align: middle;
        }
    }
    .card--content{
        padding: 30px 20px 30px;
    }
}

.block--item{
    width: 100%;
    margin: 8px 0;
    background-color: #fff;
    border-radius: 8px;
    transition: all .25s ease-in-out !important;
    padding: 20px 15px 20px 60px;
    border: 1px solid $borderColor;
    position: relative;
    font-size: .9rem;
    .row{
        margin-left: 10px;
        margin-right: 10px;
        .col-12{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &.no--checkbox{
        padding-left: 15px;
    }
    &.block--custom{
        position: static;
        padding: 0;
        .block--custom--content{
            position: relative;
            padding: 20px 15px 20px 60px;
        }
    }
    @media #{$mwlg}{
        padding-left: 20px;
        padding-top: 36px;
    }
    &:hover{
        z-index: 1;
        -webkit-box-shadow: 0 10px 10px 0 rgba(12, 20, 39, .05);
        box-shadow: 0 10px 10px 0 rgba(12, 20, 39, .05);
    }
    .item--checkbox{
        position: absolute;
        left: 20px;
        z-index: 2;
        @media #{$mwlg}{
            right: 8px;
            top: 15px;
            left: auto;
        }
    }
    .block--item--title{
        .item--avatar--img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            padding: 0;
            @media #{$mwlg}{
                width: 46px;
                height: 46px;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            } 
        }
        .text--title{
            margin-left: 10px;
        }
    }
    .item--text{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .icon{
        margin-right: 5px;
        font-size: 15px;
        width: 20px;
    }
    .all--item--action{
        text-align: right;
        justify-content: flex-end;
        @media #{$mwlg} {
            justify-content: center;
        }
    }
   
}
.alluser--action{
    position: fixed;
    bottom: -70px;
    opacity: 0;
    left: 250px;
    z-index: 10;
    background-color: #fff;
    left: 250px;
    z-index: 4;
    width: calc(100% - 250px);
    padding: 15px 30px 15px 25px;
    border-top: 1px solid $borderColor;
    @include prefixer(transition, all .25s ease-in-out, webkit moz o);
    @media #{$mwlg}{
        width: 100%;
        left: 0;
        text-align: center;
    }
    .button{
        margin: 5px;
    }
    &.show--action--bottom{
        bottom: 0;
        opacity: 1;
    }
}

.pagination--custom--number{
    ul{
        li{
            padding: 5px;
            margin: 5px;
            a{
                color: $textColor;
                &:hover{
                    color: $mainColor;
                }
            }
            i{
                font-size: 22px;
            }
        }
    }
}

// .pagination{
//     margin-top: 30px;
// }

.filter--items{
    padding: 10px 0;
    margin-top: 15px;
    
    .search{
        min-width: 300px;
    }
    
}
.icon--right{
    .control.has-icons-left .icon.is-left{
        left: auto;
        right: 0 ;
    }
    .control.has-icons-left .input, .control.has-icons-left .taginput .taginput-container.is-focusable, 
    .taginput .control.has-icons-left .taginput-container.is-focusable, .control.has-icons-left .select select{
        padding-right: 2.8em;
        padding-left: 1em;
    }
}



.table td, .table th{
    vertical-align: middle;
}
.avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.avatar-lg{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.badge--count{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    color: $mainColor;
}

.modal-content{
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 30px;
}

.modal--content{
    h3{
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
    }
}

// Title Page
.page--title{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 60px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    .title--text{
        font-size: 28px;
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
    }
}

.button--save--form{
    margin-top: 30px;
}

.form--group{
    .row{
        margin-left: -10px !important;
        margin-right: -10px !important;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, 
    .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, 
    .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, 
    .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
     .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, 
     .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, 
    .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}


// Users
.user--photo{
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 50%;
    img{
        width: 100%;
        height: 100%;
    }
}

.modal-card-body-crop {
    height: 380px;
    .croppie-container{
        width: 100%;
       height: 250px;
    }
    
}
.close--modal{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}
.checkbox--group{
    h3{
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .item-checkbox{
        padding: 8px 15px 5px;
    }
}

// Login Page
.login--page{
    width: 100%;
    min-height: 100vh;
    background-color: $DarkColor;
    display: flex;
    align-items: center;
    justify-content: center;
    .card--block{
        border-radius: 10px;
    }
    .login--form{
        max-width: 400px;
        padding: 30px;
        .logo--head{
            h3{
                text-align: center;
                margin-bottom: 35px;
                font-size: 22px;
                text-transform: uppercase;
                color: $mainColor;
                font-weight: 500;
                letter-spacing: 2px;
            }
        }
        .field-group{
            margin-bottom: 15px;
        }
        .button{
            margin-top: 20px;
        }
    }
}

.message{
    .media{
        align-items: center;
    }
}

// Loading
.loading--data{
    width: 100%;
    height: 350px;
    position: relative;
    @extend .card--block ;
    i{
        color: $mainColor;
    }
}
.card--block, .no-data, .loading--data {
    margin: 8px 0;
    border-radius: 8px;
}

// No Data
.no-data{
    width: 100%;
    height: 350px;
    position: relative;
    color: $textColor;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend .card--block ;
}

.item--text .tag{
    margin: 3px;
}

.socialMediaIcon{
    text-align: center;
    .social--item{
        font-size: 18px;
        color: $textColor;
        padding: 5px;
        @include prefixer(transition, all .25s ease-in-out, webkit moz o);
        &:hover{
            color: $mainColor;
        }
    }
}
.modal--conten{
    .block--item--photo {
        width: 140px;
        height: 140px;
        text-align: center;
        margin: 5px auto;
        img{
            width: 140px;
            height: 140px;
        }
    }
}

time{
    font-size: 14px;
}

.modal-card-body {
    .media{
        align-items: center;
    }
}

.tasks {
    .row{
        position: static;
    }
}
.preview--items--modal{
    text-align: center;
    .item--preview{
        width: 200px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        margin: 10px;
        display: inline-block;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .block--item--Video{
        max-width: 500px;
        text-align: center;
        margin: 10px auto;
    }
    .block--item--audio{
        max-width: 500px;
        text-align: center;
        margin: 10px auto;
    }
}