

// Fonts
// $mainFont: 'Roboto', sans-serif;
$mainFont: 'Rubik', 'Cairo', sans-serif;
$secondFont:  'Rubik', 'Cairo', sans-serif;
// $secondFont: 'Open Sans', sans-serif;



// Colors
$mainColor: #845EC2;
$textColor: #383a3e;
// $textColor: #596376;
$borderColor: #d1d3d8;
$DarkColor: #000;
$textColorLight: #637178;
// Fonts
// $mainFont: 'Montserrat', 'Cairo', sans-serif;

// font-family: 'Rubik', sans-serif;


// EE4540   C72C41   801336   510A32   2D142C 


// Media Query
$xs: "(max-width: 575.98px)";
$sm: "(min-width: 576px) and (max-width: 767.98px)";
$md: "(min-width: 768px) and (max-width: 991.98px)";
$lg: "(min-width: 992px) and (max-width: 1199.98px)";
$xl: "(min-width: 1200px)";

$mwsm: "(max-width: 767.98px)";
$mwmd: "(max-width: 991.98px)";
$mwlg: "(max-width: 1199.98px)";
