<template>
    <div class="filter--items">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="filter--items--left">
                    <div class="input--fuild">
                        <button class="button is-rounded w-100" 
                              :class="{'is-primary' : checkItems}"
                              @click="selectAllItems">
                              Select All
                         </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="filter--items--right">
                    <!-- <div class="input--fuild">
                        <b-datepicker
                              placeholder="Select a date"
                              rounded
                              icon="calendar-today">
                         </b-datepicker>
                    </div> -->
                    <div class="input--fuild">
                        <div class="search icon--right">
                            <b-input placeholder="Search..." type="search" icon-pack="fa" rounded icon="search" v-model="searchQuery">
                            </b-input>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                group: '',
                groups: ['All', 'admin', 'editor', 'users'],
                checkItems: false,
                searchQuery: '',
                filters: {},
            }
        },
        watch:{
            searchQuery(){
                this.filters.searchQuery = this.searchQuery
                clearTimeout(this.debounce);
                this.debounce = setTimeout(() => {
                    this.getItems()
                }, 500);
            },
        },  
        methods: {
            selectAllItems() {
                this.checkUsers = !this.checkUsers
                this.$emit('selectAllItems')
            },
            
            getItems(){
                this.$emit('featchByFilter', this.filters)
            },
        }
    }

</script>
