<template>
    <div class="block--item" v-if="item">
        <div class="row align-items-center">
            <b-checkbox v-model="checkItemSelected" @input="updateCheckbox(item.id)" :native-value="item.id">
            </b-checkbox>
            <div class="col-12 col-xl-3">
                <div class="block--item--title d-flex align-items-center item--text">
                    <div class="text--title">
                        {{item.name}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-3" v-if="item.location != ''">
                <div class="block--item--title d-flex align-items-center item--text">
                    <div class="text--title">
                        {{item.location}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl">
                <div class="item--text">
                    <time>
                        <span class="icon">
                            <i class="fas fa-clock"></i>
                        </span>
                        {{item.eventDate | moment("MM/DD/YYYY") }}
                    </time>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl">
                <div class="item--text">
                    <time>
                        {{item.fromTime }}
                    </time>
                </div>
                <div class="col-12 col-sm-6 col-xl">
                    <div class="item--text">
                        <time>
                            {{item.toTime }}
                        </time>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl" v-if="item.createdBy">
                <div class="item--text">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                    By: {{item.createdBy.name }}
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl">
                <div class="item--text">
                    <b-tag type="is-dark" rounded v-if="item.type === false">Meeting</b-tag>
                    <b-tag type="is-dark" rounded v-if="item.type === true">Call</b-tag>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-xl item--text">
                <div class="all--item--action d-flex align-item-center">
                    <button @click="viewItems(item)" class="button--circle is-warning-light">
                        <i class="fas fa fa-users"></i>
                    </button>
                    <router-link :to="'/eventForm/' + item.id" class="button--circle is-primary-light"><i
                            class="fas fa-pen"></i></router-link>
                    <router-link :to="'/addUserToEvent/' + item.id" class="button--circle is-primary-light"><i
                        class="fas fa fa-user-plus"></i></router-link>
                    <button class="button--circle is-danger-light"
                        @click="confirmCustomDelete(item.id)"><i class="fas fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    // Repository Data
    import {
        RepositoryFactory
    } from '../../repositories/RepositoryFactory'
    const eventsRepository = RepositoryFactory.get('events')
    export default {
        props: ['item', 'itemsSelected'],
        data() {
            return {
                checkItemSelected: false,
                previewItem: false,
                previewData: {},
                page: 1,
                limit: 100,

            };
        },
        watch: {
            itemsSelected() {
                if (this.itemsSelected.length) {
                    this.itemsSelected.map(item => {
                        if (item == this.item.id) {
                            this.checkItemSelected = true
                        }
                    })
                } else {
                    this.checkItemSelected = false
                }
            }
        },
        methods: {
            updateCheckbox(){
                this.$emit('checkboxItem', {
                    id: this.item.id,
                    status: this.checkItemSelected
                })
            },
            deleteItem(id) {
                this.deleteEvent(id)
            },
            
            async deleteEvent(id) {
                const event = await eventsRepository.deleteEvent(id)
                if (event.success) {
                    this.successMessage(event.message)
                    this.$emit('fetchAllItems')
                } else {
                    if (event.data.Error) {
                        this.errorMessage(event.data.Error)
                    }
                }
            },

            // Confirm Delete
            confirmCustomDelete(id) {
                this.$dialog.confirm({
                    title: 'Deleting Event',
                    message: 'Are you sure you want to <b>delete</b> This Event? This action cannot be undone.',
                    confirmText: 'Delete Event',
                    type: 'is-danger',
                    hasIcon: true,
                    onConfirm: () => this.deleteItem(id)
                })
            },
            errorMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-danger',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },
            successMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-success',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },
            // View event In Modal
            viewItems(item) {
                this.$emit('preview', item)
            },
        }
    }
</script>