<template>
    <div>
        <item  v-for="item in data" :key="item.id" :item="item" 
        @fetchAllItems="fetchAllItems"
        @checkboxItem="checkboxItemStatus"
        @preview="preview"
        :itemsSelected="itemsSelected"/>
         
        <template>
            <div class="alluser--action" :class="{'show--action--bottom': itemsSelected.length}">
                <button class="button is-danger is-rounded" @click="confirmCustomDelete()">Delete All Selected</button>
            </div>
        </template>

        <!-- Modal Preview Item -->
        <b-modal :active.sync="previewItem" :width="640" scroll="keep">
            <div class="modal--conten">
                <h3>Event users</h3>
                <table class="table is-bordered is-striped w-100" v-if="previewData">
                    <thead>
                    <th>Name</th>
                    <th>Email</th>
                    </thead>
                    <tbody>
                    <tr v-for="user in previewData.users" :key="previewData.users.id">
                        <td>
                            <span v-if="user.name">
                                {{user.name}}
                            </span>
                        </td>
                        <td>
                            <span v-if="user.email">
                                {{user.email}}
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </b-modal>
        
    </div>
</template>

<script>

import Item from './ListItem'
// Repository Data
import { RepositoryFactory } from '../../repositories/RepositoryFactory'
import eventsRepository from "../../repositories/eventsRepository";

export default {
    props:['data', 'allItemsSelected'],
    data () {
            return {
                itemsSelected:[],
                previewItem: false,
                previewData: {},
                page: 1,
                limit: 100,
                dataLoading: false,
            };
        },
    components: {
        Item
    },
    watch:{
        allItemsSelected(){
            if(this.allItemsSelected){
                this.data.map(item => {
                    this.itemsSelected.push(item.id)
                })
            } else {
                 this.itemsSelected = []
            }
        },
    },
    methods:{
        checkboxItemStatus(data){
            if(data.status == true){
                if(!this.itemsSelected.indexOf(data.id) > -1){
                    this.itemsSelected.push(data.id)
                }
            } else {
                if(this.itemsSelected.indexOf(data.id) > -1){
                    for(var i = 0; i < this.itemsSelected.length; i++){
                        if(this.itemsSelected[i] == data.id){
                            this.itemsSelected.splice(i, 1)
                        }
                    }
                }
            }
        },
        deleteItems(){
            for (var i = 0; i < this.itemsSelected.length; i++){
                this.deleteEvent(this.itemsSelected[i])
                if(this.itemsSelected.length === (i + 1)){
                   this.itemsSelected = []
                }
            }
        },
        // Delete Items
        async deleteEvent(id) {
            const events = await eventsRepository.deleteEvent(id)
            if (events.success) {
                this.successMessage(events.message)
                this.$emit('fetchAllItems')
            } else {
                if(events.data.Error){
                    this.errorMessage(events.data.Error)
                }
            }
        },
        fetchAllItems(){
            this.$emit('fetchAllItems')
        },
        aleartMessage(textMessage){
            this.$snackbar.open({
                message: textMessage,
                type: 'is-success',
                position: 'is-bottom-right',
                actionText: 'OK',
                queue: false,
                duration: 3000,
                indefinite: false,
            })
        },
        errorMessage(textMessage) {
            this.$snackbar.open({
                message: textMessage,
                type: 'is-danger',
                position: 'is-bottom-right',
                actionText: 'OK',
                queue: false,
                duration: 10000,
                indefinite: false,
            })
        },
        successMessage(textMessage) {
            this.$snackbar.open({
                message: textMessage,
                type: 'is-success',
                position: 'is-bottom-right',
                actionText: 'OK',
                queue: false,
                duration: 10000,
                indefinite: false,
            })
        },
       // Confirm Delete
       confirmCustomDelete() {
            this.$dialog.confirm({
                title: 'Deleting Events',
                message: 'Are you sure you want to <b>delete</b> These Events? This action cannot be undone.',
                confirmText: 'Delete Events',
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => this.deleteItems()
            })
        },
        // Preview 
        preview(data){
            this.previewItem = true
            this.previewData = data
        },
    }
}
</script>
