<template>
    <div class="filter--items">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="filter--items--left">
                    <div class="input--fuild" v-if="isInUserPermissions('users', 'update')">
                        <button class="button is-rounded w-100" 
                              :class="{'is-primary' : checkUsers}"
                              @click="selectAllItems">
                              Select All
                         </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="filter--items--right">
                    <div class="input--fuild">
                        <div class="search icon--right">
                            <b-input placeholder="Search..." type="search" icon-pack="fa" rounded icon="search" v-model="searchQuery">
                            </b-input>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                group: '',
                groups: ['All', 'admin', 'editor', 'users'],
                checkUsers: false,
                filters: {},
                searchQuery: '',
                statusItems: [
                    {id: 1, name: 'Active'},
                    {id: 0, name: 'Not Active'},
                ],
                status: '',
            }
        },
        watch:{
            searchQuery(){
                this.filters.searchQuery = this.searchQuery
                clearTimeout(this.debounce);
                this.debounce = setTimeout(() => {
                    this.getItems()
                }, 500);
            },
            status(){
                this.filters.status = this.status ? this.status.id : ''
                this.getItems()
            },
        },  
        methods: {
            selectAllItems() {
                this.checkUsers = !this.checkUsers
                this.$emit('selectAllItems')
            },
            
            getItems(){
                this.$emit('featchByFilter', this.filters)
            },
        }
    }

</script>


