<template>
    <div>
        <item  v-for="user in data" :key="user.id" :user="user" 
        @fetchAllItems="fetchAllItems"
        @checkboxUser="checkboxUserStatus" 
        :usersSelected="usersSelected"/>
         
        <template v-if="isInUserPermissions('users', 'update')">
            <div class="alluser--action" :class="{'show--action--bottom': usersSelected.length}">
                <!-- <button class="button is-warning is-rounded" @click="banItems()">Ban All Selected</button> -->
                <button class="button is-danger is-rounded" @click="confirmCustomDelete()">Delete All Selected</button>
            </div>
        </template>
        
    </div>
</template>



<script>

import Item from './ListItem'
// Repository Data
import { RepositoryFactory } from '../../repositories/RepositoryFactory'
const usersRepository = RepositoryFactory.get('users')

export default {
    props:['data', 'allUserSelected'],
    data () {
            return {
                usersSelected:[],
            };
        },
    components: {
        Item
    },
    watch:{
        allUserSelected(){
            if(this.allUserSelected){
                this.data.map(item => {
                    this.usersSelected.push(item.id)
                })
            } else {
                 this.usersSelected = []
            }
        },
       
    },
    methods:{
         checkboxUserStatus(data){
            if(data.status == true){
                if(!this.usersSelected.indexOf(data.id) > -1){
                    this.usersSelected.push(data.id)
                }
            } else {
                if(this.usersSelected.indexOf(data.id) > -1){
                    for(var i = 0; i < this.usersSelected.length; i++){
                        if(this.usersSelected[i] == data.id){
                            this.usersSelected.splice(i, 1)
                        }
                    }
                }
            }
        },
        deleteItems(){
            for(var i = 0; i < this.usersSelected.length; i++){
                this.deleteUser(this.usersSelected[i])
                if(this.usersSelected.length === (i + 1)){
                   this.usersSelected = []
                }
            }
        },
        banItems(){
            for(var i = 0; i < this.usersSelected.length; i++){
                this.updateUser(this.usersSelected[i],{status: 0})
                if(this.usersSelected.length === (i + 1)){
                   this.usersSelected = []
                }
            }
        },
        // Delete Items
        async deleteUser(id) {
            const user = await usersRepository.deleteUser(id)
            if (user.success) {
                this.successMessage(user.message)
                this.$emit('fetchAllItems')
            } else {
                if(user.data.Error){
                    this.errorMessage(user.data.Error)
                }
            }
        },
        // Ban Items
        
         async updateUser(id, data) {
            const user = await usersRepository.updateUser(id, data)

            if (user.success) {
                this.successMessage(user.message)
                this.$emit('fetchAllItems')
            } else {
                if(user.data.Error){
                    this.errorMessage(user.data.Error)
                }
            }
        },
        fetchAllItems(){
            this.$emit('fetchAllItems')
        },
        
        errorMessage(textMessage) {
            this.$snackbar.open({
                message: textMessage,
                type: 'is-danger',
                position: 'is-bottom-right',
                actionText: 'OK',
                queue: false,
                duration: 10000,
                indefinite: false,
            })
        },
        successMessage(textMessage) {
            this.$snackbar.open({
                message: textMessage,
                type: 'is-success',
                position: 'is-bottom-right',
                actionText: 'OK',
                queue: false,
                duration: 10000,
                indefinite: false,
            })
        },
        // Confirm Delete
        confirmCustomDelete(id) {
            this.$dialog.confirm({
                title: 'Deleting Users',
                message: 'Are you sure you want to <b>delete</b> This Users? This action cannot be undone.',
                confirmText: 'Delete Users',
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => this.deleteItems(id)
            })
        }
    }
}
</script>
