<template>
    <div class="block--item" v-if="user">
        <div class="row align-items-center">
            <div class="item--checkbox">
                <b-checkbox v-model="userSelected" @input="updateCheckbox(user.id)" :native-value="user.id">
                </b-checkbox>
            </div>
            <div class="col-12 col-sm-6 col-xl">
                <div class="block--item--title d-flex align-items-center item--text">
                    <div class="item--avatar--img">
                        <img  src="./../../assets/images/user/64.png">
                    </div>
                    <div class="text--title text-capitalize">
                        {{user.name}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl">
                <div class="item--text">
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                    {{user.email}}
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl">
                <div class="item--text">
                    <time>
                        <span class="icon">
                            <i class="fas fa-clock"></i>
                        </span>
                        {{user.createdAtFormatted }}
                    </time>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-1">
                <div class="item--text">
                    <b-tag rounded type="is-success" v-if="user.admin == 1">Admin</b-tag>
                    <b-tag rounded  type="is-danger" v-else>User</b-tag>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-xl-2 item--text">
                <div class="all--item--action d-flex align-item-center">
                    <router-link :to="'/userForm/' + user.id" class="button--circle is-primary-light"><i class="fas fa-pen"></i></router-link>
                    <button class="button--circle is-danger-light" v-if="isInUserPermissions('users', 'delete')" @click="confirmCustomDelete(user.id)"><i class="fas fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

     // Repository Data
     import { RepositoryFactory } from '../../repositories/RepositoryFactory'
     const usersRepository = RepositoryFactory.get('users')
    export default {
        props: ['user', 'usersSelected'],
        data () {
            return {
                userSelected: false,
                userStatus: this.user.status == 1? 'Active' : 'Not Active'
            };
        },
        watch:{
            userStatus(){
                let data = {}
                if(this.userStatus == 'Active'){
                    data.status = 1
                } else {
                    data.status = 0
                }
                this.updateUser(this.user.id, data)
            },
            usersSelected(){
                if(this.usersSelected.length){
                     this.usersSelected.map(item => {
                        if(item == this.user.id){
                            this.userSelected = true
                        }
                    })
                } else {
                     this.userSelected = false
                }
            }
        },
        methods: {
            updateCheckbox(){
                this.$emit('checkboxUser', {id: this.user.id, status: this.userSelected})
            },
            async updateUser(id, data) {
                const user = await usersRepository.updateUser(id, data)
                if (user.success) {
                    this.successMessage(user.message)
                } else {
                    if(user.data.Error){
                        this.errorMessage(user.data.Error)
                    }
                }
            },
            async deleteUser(id) {
                const user = await usersRepository.deleteUser(id)
                if (user.success) {
                    this.successMessage(user.message)
                    this.$emit('fetchAllItems')
                } else {
                    if(user.data.Error){
                        this.errorMessage(user.data.Error)
                    }
                }
            },
          
            // Confirm Delete
            confirmCustomDelete(id) {
                this.$dialog.confirm({
                    title: 'Deleting User',
                    message: 'Are you sure you want to <b>delete</b> This User? This action cannot be undone.',
                    confirmText: 'Delete User',
                    type: 'is-danger',
                    hasIcon: true,
                    onConfirm: () => this.deleteUser(id)
                })
            },
            errorMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-danger',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },
            successMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-success',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },
        }
    }
</script>