<template>
    <div class="login--page">
        <div class="login--form card--block">
         
        <template v-if="registerErrorMessage">
          <b-message type="is-danger" has-icon class="align-items-center">
            {{registerErrorMessage}}        
          </b-message>
           
        </template>
            <form @submit.prevent="submit()">
                <div class="logo--head">
                    <h3>Events Manager Registration</h3>
                </div>
                <b-field class="field-group">
                    <b-input rounded type="text" placeholder="Name" icon="account" v-model="name" required/>
                </b-field>
                <b-field class="field-group">
                    <b-input rounded type="text" placeholder="Email" icon="account" v-model="email" required/>
                </b-field>
                <b-field class="field-group">
                    <b-input rounded type="password" placeholder="Password" icon="key" v-model="password"  required/>
                </b-field>
                <b-field class="field-group">
                    <b-input rounded type="password" placeholder="Confirm Password" icon="key" v-model="confirmPassword" required/>
                </b-field>
                <div class="text-center">
                    <button class="button is-rounded button-block is-primary w-100" :disabled="formValid" :class="{'is-loading': isLoading}">Register</button>
                </div>
            </form>
            <p class="help is-danger mt-0" v-if="errorConfirmPassword">Please fill the same
                password.</p>
        </div>  
        
    </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    data() {
      return {
          name: '',
          email: '',
          password: '',
          confirmPassword: '',
          formValid: false,
          errorConfirmPassword: false
      }
    },
    computed: {
      ...mapState({
          isLoading: state => state.isLoading,
          registerErrorMessage: state => state.register.registerErrorMessage,
          registerSuccessful: state => state.register.registerSuccessful,
      })
    },
    methods: {
      ...mapActions([
        'register'
      ]),
      submit() {
          if (this.password !== this.confirmPassword) {
              this.errorConfirmPassword = true
          } else {
              this.errorConfirmPassword = false
          }
          if (!this.errorConfirmPassword) {
              this.register({
                  name: this.name,
                  email: this.email,
                  password: this.password,
                  isAdmin: false,
              })
          }
      }
    }
  }
</script>
