<template>
  <div class="dashboard">
    <div class="page--title">
      <h1 class="title--text">Dashboard</h1>
    </div>
   
  </div>
</template>

<script>

export default {
  name: 'dashboard',
  components: {
  }
}
</script>
