
<template>
    <div>
        <aside class="menu shadow main--sidebar" :class="{ 'toggleNavSlide': toggleNavSlide}">
            <div class="wrap--upper--nav">
                <span class="icon" @click="toggleNavOpen">
                    <i class="mdi mdi-menu"></i>
                </span>
                <div class="head-logo">
                    Events Manager
                </div>
            </div>
            
                <div class="menu--scroll">
                <ul class="menu-list">
                    <!-- <li v-for="(list,i) in AsideLinks" :key="i">
                        <router-link v-if="!list.childLinks" :to="list.link" class="navbar-item" exact-active-class="is-active">
                            <span class="icon">
                                <i :class="list.icon"></i>
                            </span>
                            <span class="text-aside">{{ list.name }}</span>
                        </router-link>

                        <menu-item v-if="list.childLinks" :toggleNavSlide="toggleNavSlide" :list="list" />
                    </li> -->
                    <li>
                        <router-link to="/" class="navbar-item" exact-active-class="is-active">
                            <span class="icon">
                                <i class="fas fa-tachometer-alt"></i>
                            </span>
                            <span class="text-aside">Dashboard</span>
                        </router-link>
                    </li>
                    <li v-if="isInUserPermissions('users')">
                        <router-link to="/users" class="navbar-item" exact-active-class="is-active">
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="text-aside">Users</span>
                        </router-link>
                    </li>

                    <li v-if="isInUserPermissions('events')">
                        <router-link to="/events" class="navbar-item" exact-active-class="is-active">
                            <span class="icon">
                                <i class="fas fa-calendar"></i>
                            </span>
                            <span class="text-aside">Events</span>
                        </router-link>
                    </li>

                    <li>
                        <router-link to="/myEvents" class="navbar-item" exact-active-class="is-active">
                            <span class="icon">
                                <i class="fas fa-calendar"></i>
                            </span>
                            <span class="text-aside">My Events</span>
                        </router-link>
                    </li>
                   
                </ul>

            </div>
        </aside>
        <transition name="fade">
             <div @click="closeSidebar()" class="overlay--mainSidebar"></div>
        </transition>

        <div class="overlay--sidebar" @click="closeNavMenu"></div>

    </div>

</template>

<script>

    import MenuItem from './MenuItem';
    export default {
        data(){
            return{
                
                AsideLinks: [
                    { name: 'Dashboard', link: '/', icon: 'fas fa-tachometer-alt'},
                ],
                toggleNavSlide: false,
            }
        },
        
        components: {
            MenuItem,
        },
       
        methods:{
            closeSidebar(){
                this.$store.commit('closeMainMenu')
            },
            toggleNavOpen(){
                this.toggleNavSlide =! this.toggleNavSlide
                if(this.toggleNavSlide){
                    document.body.classList.add("sidebar--mini")
                } else {
                    document.body.classList.remove("sidebar--mini")
                }
            },
            closeNavMenu(){
                document.body.classList.remove("is--mainSidebar--open")
            }
        }
    }

</script>

