.main--header{
    width: calc(100% - 250px);
    position: fixed;
    left: 250px;
    top: 0;
    z-index: 98;
    padding: 0 30px;
    height: 70px;
    background-color: #fff;
    @include prefixer (transition, all .25s ease-in-out, webkit moz o);
    border-bottom: 1px solid $borderColor;
    @media #{$mwlg}{
         width: 100%;
         left: 0;
         padding: 0 25px 0 15px;
    }
    .dropdown-trigger{
         height: 40px;
    }
    .nav-item{
         a{
              color: $textColor;
         }
    }
    .logo--name{
         font-weight: 500;
         letter-spacing: 2px;
         text-transform: uppercase;
    }
    .nav--links{
         li{
              margin-left: 24px;
         }
    }
}


