<template>
  <div class="events">
    <div class="page--title">
      <h1 class="title--text">
        Events
        <span class="badge--count" v-if="total">
          ({{total}})
        </span>
      </h1>
      <div class="page--title--action ml-auto" v-if="isInUserPermissions('events')">
          <router-link to="/eventForm" class="button is-primary is-rounded">Add New Event</router-link>
      </div>
    </div>
    <div class="card-filter--herader">
        <filter-items @featchByFilter="featchByFilter" @selectAllItems="selectAllItems" />
    </div>
    <template v-if="dataLoading">
          <loading-data></loading-data>
    </template>
    <template v-else>
          <list @fetchAllItems="fetchAllItems" :allItemsSelected="allItemsSelected" :data="events" v-if="events.length"/> 
          <div class="no-data" v-else><span>No Data Here</span></div>    
    </template>
    <template v-if="events.length">
        <div class="pagination--custom--number">
            <b-pagination
                :total="total"
                :current.sync="page"
                :order="order"
                :rounded="true"
                :per-page="limit">
            </b-pagination>
        </div>
    </template>
    
  </div>
</template>

<script>
import List from '../../components/events/list'
import FilterItems from '../../components/events/Filter'

// Repository Data
import { RepositoryFactory } from '../../repositories/RepositoryFactory'
const eventsRepository = RepositoryFactory.get('events')

export default {
  name: 'events',
  data () {
        return {
            events: [],
            total: null,
            allItemsSelected: false,
            page: 1, 
            limit: 10,
            order: 'is-centered',
            dataLoading: true,
            isDone: 0
        };
    },
  components: {
    List,
    FilterItems,
  },
  created(){
    this.fetchAllItems()
  },
  watch:{
    page(){
      this.fetchAllItems()
    }
  },
  methods:{
    selectAllItems(){
      this.allItemsSelected =! this.allItemsSelected 
    },
    async fetchAllItems(filters) {
        this.dataLoading = true
        const events = await eventsRepository.getAllEvents(this.page, this.limit, filters, this.isDone)
        this.events = events.items;
        this.total = events.paging.total;
        this.dataLoading = false;
    },
    // Filter
    featchByFilter(filters){
      this.fetchAllItems(filters)
    }
    
  }
}
</script>
