<template>
    <div class="events">
        <div class="page--title">
            <h1 class="title--text">Events</h1>
        </div>
        <div class="card--block">
            <div class="card--hreader">
                <div class="card--header--title">
                    {{this.$route.params.id ? 'Update Event' : 'Add New Event'}}
                </div>
            </div>
            <div class="card--content">
                <form class="row justify-content-center" @submit.prevent="submitForm()">
                    <div class="col-12 col-lg-8">
                        <div class="row">
                            <div class="col-12">
                                <b-field class="field-group">
                                    <b-input type="text" placeholder="Event Name" v-model="name" required/>
                                </b-field>
                            </div>
                            <div class="col-12 col-md-6" >
                                <b-field class="field-group" >
                                    <v-select required :options="eventTypes" v-model="type" label="name"
                                        placeholder="Type" class="select--with--icon w-100 v--select--scroll">
                                        <template slot="option" slot-scope="option">
                                            {{ option.name }}
                                        </template>
                                    </v-select>
                                </b-field>
                            </div>
                            <div class="col-12" v-if="this.type != null && this.type.id == 0">
                                <b-field class="field-group">
                                    <b-input type="text" placeholder="Location" v-model="location" required/>
                                </b-field>
                            </div>
                            <div class="col-12">
                                <b-field class="field-group">
                                    <b-input type="date" placeholder="Event date" v-model="eventDate" required/>
                                </b-field>
                            </div>
                            <div class="col-12">
                                <b-field class="field-group">
                                    <b-input type="time" placeholder="From time" v-model="fromTime" required/>
                                </b-field>
                            </div>
                            <div class="col-12">
                                <b-field class="field-group">
                                    <b-input type="time" placeholder="To time" v-model="toTime" required/>
                                </b-field>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 text-center button--save--form">
                        <button class="button is-primary is-rounded"
                            :class="{'is-loading': isLoading}">{{this.$route.params.id ? 'Save Changes' : 'Add Event'}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>



<script>
    // Repository Data
    import {
        RepositoryFactory
    } from '../../repositories/RepositoryFactory'
    const eventsRepository = RepositoryFactory.get('events')
    import { mapState } from 'vuex'


    export default {
        name: 'eventForm',
        data() {
            return {
                name: '',
                location: '',
                eventDate: '',
                toTime: '',
                fromTime: '',
                isLoading: false,
                eventTypes: [{name: 'Meeting', id: 0}, {name: 'Call', id: 1}],
                type: '',
                limit: 10,
                page: 1
            };
        },

        watch: {
            '$route'(to, from) {
                if (this.$route.params.id) {
                    this.getEvent(this.$route.params.id)
                } else {
                    this.resetfuild()
                }
            },
        },

        computed: {
            ...mapState({
                userData: state => state.login.userData,
            })
        },
        created() {
            if (this.$route.params.id) {
                this.getEvent(this.$route.params.id)
            }
        },

        methods: {
            resetfuild() {
                this.name = ''
                this.description = ''
                this.assignedTo = []
            },
            submitForm() {
                this.isLoading = false
                let data = {}
                data.name = this.name
                data.type = this.type.id
                data.eventDate = this.eventDate
                data.fromTime = this.fromTime
                data.toTime = this.toTime
                data.location = this.location

                if (this.$route.params.id) {
                    this.isLoading = true
                    this.updateEvent(this.$route.params.id, data)
                } else {
                    this.newEvent(data)
                }
            },

            async newEvent(data) {
                const event = await eventsRepository.newEvent(data)
                if (event && event.success) {
                    this.successMessage(event.message)
                    this.$router.push('/events')
                } else {
                    if (event.message){
                        this.errorMessage(event.Error)
                    }
                }
                this.isLoading = false
            },

            async getEvent(data) {
                const event = await eventsRepository.getEvent(data)
                this.name = event.name
                this.type = event.type == false ? {name: 'Meeting', id: 0}: {name: 'Call', id: 1}
                this.eventDate = event.eventDate
                this.fromTime = event.fromTime
                this.toTime = event.toTime
                this.location = event.location
            },
            async updateEvent(id, data) {
                const event = await eventsRepository.updateEvent(id, data)
                if (event.success) {
                    this.successMessage(event.message)
                    this.$router.push('/events')
                } else {
                    if (event.data.Error){
                        this.errorMessage(event.data.Error)
                    }
                }
                this.isLoading = false
            },

            errorMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-danger',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },
            successMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-success',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },

        }
    }
</script>