<template>
    <div class="events">
        <div class="page--title">
            <h1 class="title--text">Events</h1>
        </div>
        <div class="card--block">
            <div class="card--hreader">
                <div class="card--header--title">
                    {{ 'Join user'}}
                </div>
            </div>
            <div class="card--content">
                <form class="row justify-content-center" @submit.prevent="submitForm()">
                    <div class="col-12 col-lg-8">
                        <div class="row">
                            <div class="col-12">
                                <b-field class="field-group">
                                    <b-input type="text" placeholder="User Name" v-model="name" required/>
                                </b-field>
                            </div>
                            <div class="col-12">
                                <b-field class="field-group">
                                    <b-input type="text" placeholder="Email" v-model="email" required/>
                                </b-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 text-center button--save--form">
                        <button class="button is-primary is-rounded"
                            :class="{'is-loading': isLoading}">{{'Join User'}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>



<script>
    // Repository Data
    import {
        RepositoryFactory
    } from '../../repositories/RepositoryFactory'
    const eventsRepository = RepositoryFactory.get('events')
    import { mapState } from 'vuex'


    export default {
        name: 'eventForm',
        data() {
            return {
                name: '',
                email:'',
                isLoading:false
            };
        },

        watch: {
            '$route'(to, from) {
                if (this.$route.params.id) {
                    this.getEvent(this.$route.params.id)
                } else {
                    this.resetfuild()
                }
            },
        },

        computed: {
            ...mapState({
                userData: state => state.login.userData,
            })
        },

        methods: {
            submitForm() {
                this.isLoading = false
                let data = {}
                data.name = this.name
                data.email = this.email
                this.joinUser(data, this.$route.params.id)
            },

            async joinUser(data, id) {
                const result = await eventsRepository.joinUser(data, id)
                if (result && result.success) {
                    this.successMessage(result.message)
                    this.$router.push('/events')
                } else {
                    if (result.message){
                        this.errorMessage(result.message)
                    }
                }
                this.isLoading = false
            },

            errorMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-danger',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },
            successMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-success',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },

        }
    }
</script>