<template>
  <div id="app">
      <transition name="bounce" mode="out-in">
        <router-view/>
      </transition>
    
  </div>
</template>


<style lang="scss">
  @import './sass/core.scss';
</style>
