<template>
  <div>
    <!-- Main Header -->
    <app-header />
    <!-- Main Nav -->
    <app-nav />
    <!-- Main Content -->
    <div class="wrapper--content">
        <div class="main--content">

          <transition name="slide-left" mode="out-in">
            <router-view/>
          </transition>
          
        </div>
    </div>
    
  </div>
</template>

<script>
import AppHeader from './components/layout/Header'
import appNav from './components/layout/nav'
export default {
  components:{
    AppHeader,
    appNav
  }
}
</script>

