<template>
    <div class="filter--items">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="filter--items--left">
                    
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="filter--items--right">
                    
                    <div class="input--fuild">
                        <div class="search icon--right">
                            <b-input placeholder="Search..." type="search" icon-pack="fa" rounded icon="search" v-model="searchQuery">
                            </b-input>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                searchQuery: '',
                filters: {},
            }
        },
        watch:{
            searchQuery(){
                this.filters.searchQuery = this.searchQuery
                clearTimeout(this.debounce);
                this.debounce = setTimeout(() => {
                    this.getItems()
                }, 500);
            },
        },  
        methods: {
            
            getItems(){
                this.$emit('featchByFilter', this.filters)
            },
        }
    }

</script>
