<template>
    <div class="block--item no--checkbox" v-if="item">
        <div class="row align-items-center">
            <div class="col-12 col-xl-3">
                <div class="block--item--title d-flex align-items-center item--text">
                    <div class="text--title">
                        {{item.name}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-3" v-if="item.location">
                <div class="block--item--title d-flex align-items-center item--text">
                    <div class="text--title">
                        {{item.location}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl">
                <div class="item--text">
                    <time>
                        <span class="icon">
                            <i class="fas fa-clock"></i>
                        </span>
                        {{item.eventDate | moment("MM/DD/YYYY") }}
                    </time>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl">
                <div class="item--text">
                    <time>
                        {{item.fromTime }}
                    </time>
                </div>
                <div class="col-12 col-sm-6 col-xl">
                    <div class="item--text">
                        <time>
                            {{item.toTime }}
                        </time>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl" v-if="item.createdBy">
                <div class="item--text">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                    By: {{item.createdBy.name }}
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl">
                <div class="item--text">
                    <b-tag type="is-dark" rounded v-if="item.type === false">Meeting</b-tag>
                    <b-tag type="is-dark" rounded v-if="item.type === true">Call</b-tag>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-xl item--text">
                <div class="all--item--action d-flex align-item-center">
                    <button @click="viewItems(item)" class="button--circle is-warning-light">
                        <i class="fas fa fa-users"></i>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</template>

<script>

     // Repository Data
     import { RepositoryFactory } from '../../repositories/RepositoryFactory'
     const eventsRepository = RepositoryFactory.get('events')
    export default {
        props: ['item'],
        data () {
            return {
                previewItem: false,
                previewData: {},
            };
        },
        methods: {
            errorMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-danger',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },
            successMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-success',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },
            // View event In Modal
            viewItems(item) {
                this.$emit('preview', item)
            },
        }
    }
</script>