<template>
    <div>
        <!-- <item :item="data" @fetchAllItems="fetchAllItems" /> -->
        <item v-for="item in data" :key="item.id" :item="item" 
              @fetchAllItems="fetchAllItems"
              @preview="preview"/>

        <!-- Modal Preview Item -->
        <b-modal :active.sync="previewItem" :width="640" scroll="keep">
            <div class="modal--conten">
                <h3>Event users</h3>

                <table class="table is-bordered is-striped w-100" v-if="previewData">
                    <thead>
                    <th>Name</th>
                    <th>Email</th>
                    </thead>
                    <tbody>
                    <tr v-for="user in previewData.users" :key="previewData.users.id">
                        <td>
                    <span v-if="user.name">
                        {{user.name}}
                    </span>
                        </td>
                        <td>
                    <span v-if="user.email">
                        {{user.email}}
                    </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </b-modal>
    </div>
</template>




<script>
    import Item from './ListItem'
    // Repository Data
    import {
        RepositoryFactory
    } from '../../repositories/RepositoryFactory'
    const eventsRepository = RepositoryFactory.get('events')

    export default {
        props: ['data'],
        data() {
            return {
                previewItem: false,
                previewData: {},
            };
        },
        components: {
            Item
        },

        methods: {
            fetchAllItems() {
                this.$emit('fetchAllItems')
            },
            errorMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-danger',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },
            successMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-success',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },
            // Preview 
            preview(data){
                this.previewItem = true
                this.previewData = data
            },
        }
    }
</script>