<template>
    <div class="users">
        <div class="page--title">
            <h1 class="title--text">
                Users
            </h1>
            <div class="page--title--action ml-auto" v-if="this.$route.params.id && isInUserPermissions('users', 'create')">
                <router-link to="/userForm" class="button is-primary is-rounded">Add New User</router-link>
            </div>
        </div>
        <div class="card--block">
            <div class="card--hreader">
                <div class="card--header--title">
                    {{this.$route.params.id ? 'Update User' : 'Add New User'}}
                </div>
            </div>
            <div class="card--content">
                <form class="row justify-content-center" @submit.prevent="submitForm()">
                    <div class="col-12 col-lg-8 col-xl-6">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-6">
                                <b-field class="field-group">
                                    <b-input type="text"  required rounded placeholder="Name"
                                        v-model="name" />
                                </b-field>
                            </div>
                            <div class="col-12">
                                <b-field class="field-group">
                                    <b-input type="email" required rounded placeholder="User Email" v-model="email" />
                                </b-field>
                            </div>
                            
                            <div class="col-12 col-sm-6">
                                <b-field class="field-group text-center">
                                    <b-switch v-model="isAdmin" :true-value="true" :false-value="false">
                                        {{isAdmin === true ? 'Admin' : 'User'}}
                                    </b-switch>
                                </b-field>
                            </div>
                            <div class="col-12" v-if="this.$route.params.id" >
                                <b-field class="field-group">
                                    <span class="change--password" @click="changePassword =! changePassword">Change Password</span>
                                </b-field>
                            </div>
                            <template v-if="changePassword">
                                  <div class="col-12">
                                        <b-field class="field-group">
                                             <b-input type="password" required rounded
                                                  :placeholder="this.$route.params.id ? 'New Password' : 'Password'"
                                                  v-model="password" />
                                        </b-field>
                                   </div>
                                   <div class="col-12">
                                        <b-field class="field-group">
                                             <b-input type="password" required rounded
                                                  placeholder="Confirm Password" v-model="confirmPassword" />
                                        </b-field>
                                        <p class="help is-danger mt-0" v-if="errorConfirmPassword">Please fill the same
                                             password.</p>
                                   </div>
                            </template>
                           

                        </div>
                    </div>

                    <div class="col-12 text-center button--save--form">
                        <button class="button is-primary is-rounded"
                            :class="{'is-loading': isLoading}">{{this.$route.params.id ? 'Save Changes' : 'Add User'}}</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>


<script>
    // Repository Data
    import {
        RepositoryFactory
    } from '../../repositories/RepositoryFactory'
    const usersRepository = RepositoryFactory.get('users')
    import { mapState } from 'vuex'

    export default {
        name: 'userForm',
        data() {
            return {
                name: '',
                userName: '',
                email: '',
                oldPassword: '',
                password: '',
                confirmPassword: '',
                isLoading: false,
                errorConfirmPassword: false,
                userStatus: 'User',
                isAdmin: false,
                changePassword: true,
                allGroups: [],
            };
        },
        computed: {
            ...mapState({
                userData: state => state.login.userData,
            })
        },
        watch: {
            '$route'(to, from) {
                if (this.$route.params.id) {
                    this.getUser(this.$route.params.id)
                     this.changePassword =  false
                } else {
                     this.resetfuild()
                     this.changePassword =  true
                }
            },
        },
        created() {
            if (this.$route.params.id) {
                this.getUser(this.$route.params.id)
                this.changePassword =  false
            }
        },

        methods: {
             resetfuild(){
                this.name = ''
                this.email = ''
                this.isAdmin = 0
                this.password = ''
                this.confirmPassword = ''
             },
            submitForm() {
                this.isLoading = false
                let data = {}
                data.name = this.name
                data.email = this.email
                data.isAdmin = this.isAdmin
                if (this.name && this.email && this.password && this.confirmPassword) {
                    this.errorConfirmPassword = true
                    data.password = this.password
                    if (this.password === this.confirmPassword) {
                        this.errorConfirmPassword = false
                        this.isLoading = true
                        if (this.$route.params.id){
                             this.updateUser(this.$route.params.id, data)
                        } else {
                             this.newUser(data)
                        }
                        
                    } else {
                        this.isLoading = false
                        this.errorConfirmPassword = true
                    }
                } else if(this.name && this.email && this.$route.params.id){
                      this.isLoading = true
                      this.updateUser(this.$route.params.id, data)
                }
            },


            async newUser(data) {
                const user = await usersRepository.newUser(data)
                if (user && user.success) {
                    this.successMessage(user.message)
                    this.$router.push('/users')
                } else {
                    if (user.message) {
                         this.errorMessage(user.message)
                    }

                }
                this.isLoading = false
            },

            async getUser(data) {
                const user = await usersRepository.getUser(data)
                this.name = user.name
                this.userName = user.username
                this.email = user.email
                this.isAdmin = user.isAdmin
                this.password = ''
                this.confirmPassword = ''
            },
            async updateUser(id, data) {
                const user = await usersRepository.updateUser(id, data)
                if (user && user.success) {
                    this.successMessage(user.message)
                    this.$router.push('/users')
                } else {
                    if (user.message) {
                        this.errorMessage(user.message)
                    }
                }
                this.isLoading = false
                this.password = ''
                this.confirmPassword = ''
            },
            

            errorMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-danger',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },
            successMessage(textMessage) {
                this.$snackbar.open({
                    message: textMessage,
                    type: 'is-success',
                    position: 'is-bottom-right',
                    actionText: 'OK',
                    queue: false,
                    duration: 10000,
                    indefinite: false,
                })
            },

        }
    }
</script>